@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  /*
  --primary-color: ;
  --secondary-color:;
  --large-font:;
  --small-font:;
  */
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;

  --xl-font: 36px;
  --l-font: 24px;
  --m-font: 20px;
  --s-font: 16px;
}

body {
  overscroll-behavior: none;
  margin: 0px;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

a:hover {
  color: #d0d0d0;
}

button {
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  width: 100%;
}

nav {
  position: sticky;
  top: 0px;
  left: 0px;
  height: 60px;
  padding: 0px 24px;
  /*background-color: #3b3b3b;*/
  background-color: rgb(76, 115, 224);
  color: white;
  font-size: var(--l-font);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title > a:hover {
  color: white;
}

.logoname {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.logo {
  height: 40px;
}

.banner > * {
  width: 100%;
}

#links {
  position: relative;
  right: 12px;
  display: flex;
  gap: 24px;
  font-weight: 400;
}

main {
  width: 100%;
  /*padding: 0px min(25%, 200px);*/
}

#about {
  display: flex;
  justify-content: center;
  padding: 36px;
}

#about > div {
  padding: 40px 50px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 36px;
  border-radius: 16px;
}

.walking {
  width: auto;
  height: 250px;
  border-radius: 8px;
}

.about-text {
  width: 300px;
  font-size: var(--l-font);
  text-align: center;
  font-weight: 300;
}

#signup {
  padding: 36px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center;*/
  gap: 25px;
}

#signup > * {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  width: 400px;
  min-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#signup > * > img {
  width: 350px;
  height: auto;
  border-radius: 4px;
}

.team-title,
.hero-title {
  font-size: var(--xl-font);
  font-weight: 400;
}

#team-text,
#hero-text {
  font-size: var(--m-font);
  font-weight: 300;
  text-align: center;
}

.signup {
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 8px;
  background-color: rgb(76, 115, 224);
  color: white;
  font-size: var(--m-font);
}

#merch {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 36px;
}

/* Filler */
.img {
  width: 500px;
  height: 300px;
  background-color: rgb(76, 115, 224);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.merch-text {
  font-size: var(--l-font);
  font-weight: 700;
}

#merch-styles {
  font-size: var(--s-font);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.buttons > * {
  width: 125px;
  height: 50px;
  background-color: rgb(76, 115, 224);
  color: white;
  border: 0;
  border-radius: 8px;
  font-size: var(--s-font);
}

#angel {
  padding: 36px;
  gap: 16px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#angelflyer {
  width: 500px;
  height: auto;
}

#angeltext {
  font-size: var(--m-font);
  font-weight: bold;
}

#angelbtn {
  width: 150px;
  height: 50px;
  background-color: rgb(76, 115, 224);
  color: white;
  border: 0;
  border-radius: 8px;
  font-size: var(--s-font);
}

footer {
  background-color: #404040;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footertxt {
  font-size: var(--m-font);
  color: #e0e0e0;
}

@media only screen and (max-width: 920px) {
  #about > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
  }

  #merch > .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 16px;
    height: 50px;
  }

  #links {
    /*width: 100%;*/
    display: none;
  }

  .banner {
    /*height: 0px;*/
    width: 100vw;
  }

  #about > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
  }

  .merchimg {
    width: 80%;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --xl-font: 32px;
    --l-font: 20px;
    --m-font: 20px;
    --s-font: 14px;
  }

  #about > div {
    width: 80vw;
  }

  #about > div > img {
    width: 75vw;
    height: auto;
  }

  #signup > * {
    width: 80vw;
    min-width: 300px;
  }

  #signup > * > img {
    width: 75vw;
    height: auto;
  }

  .buttons > * {
    width: 100px;
  }

  #angelflyer {
    width: 100%;
  }
}
